<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <div class = "container">
      <div class = "row">
        <h1> <%= title %></h1>
        <h3>A place for artists to be seen</h3>
      </div>
      <div class="row">
		<p>See our users <a href="/users">Here</a>.</p>      	
      </div>
  </body>
</html>
