<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/header.ejs' ) %>

    <div class="container">
      <div class = "row jumbotron">
        <h1><%= title %></h1>
        <h4>A place for artists to be seen</h4>
      </div>
      <div class= "row login">
        <div class="col-md-3 pull-right">
          <h3>Login</h3>
          <form action="/auth/local" method="post">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>      
        </div>
      </div>
      <hr>
      <div class ="row btn-group">
        <a href="/auth/facebook" class="btn btn-info">Facebook</a>
        <a href="/auth/google" class="btn btn-info">Google</a>
        <a href="/users/new" class="btn btn-info">Sign Up</a>
      </div>
    </div>
  </body>
</html>
