.login{
	height: 40vh;
	background-color: silver;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.list-inline li {
	font-size: 2em;
}

textarea {
  outline: none;
  overflow: auto;
}

.form-group .viewBox {
  background-color: white;
}